.market-research-container {
  background-color: #FFFFF0;
}

.market-research {
  border-top: 1px solid #e0e0e0;
  width: 90%;
  margin:auto;
  padding: 50px 0;
}



.market-research h2, .market-research h4 {
  text-align: center;
}
