/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*


 */

 * {
   font-family: 'Lato', sans-serif;
 }

/* HEADER */

.header {
  border: 1px solid black;
}

.header-top-bar {
  padding-top: 50px;
  border: 1px solid green;
}

.header-search-bar {
  border: 1px solid pink;
  vertical-align: text-bottom;
}

.header-title {
  font-weight: 300;
  font-size: 30px;
  margin: auto;
  width: 60%;
  letter-spacing: 1vh;
  /*padding: 10px;*/
  border: 1px solid black;
  text-align: center;
}

.header-cart {
  border: 1px solid red;
  /*position: relative;
  right: 30px;*/
}

.header-categories {
  padding-top: 100px;
  border: 1px solid orange;
}

.test {
  border: 3px solid black;
}
