/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*


 */

 * {
   font-family: 'Lato', sans-serif;
 }

/* HEADER */

#logo:hover {
  cursor: pointer;
}

.header-top-bar {
  padding-top: 50px;
}

.header-search-bar {
  vertical-align: text-bottom;
}

.header-title {
  font-weight: 300;
  margin: auto;
  width: 60%;
  letter-spacing: 1vh;
  text-align: center;
}

#header-categories-accordion{
  padding-top: 50px;
}

#header-categories-accordion .panel {
  margin-bottom: 0px;
}

#header-categories-accordion .panel-heading {
  font-weight: 100;
  background-color: #3f3f3f;
  color: white;
}

#header-categories-accordion .panel-title {
  text-align: center;
  line-height: 10px;
}

#header-categories-accordion .panel-title:hover {
  cursor: pointer;
}

#header-categories-accordion .category-filter:hover {
  cursor:pointer;
}

#header-categories-accordion .category-divider {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 95%;
  height: 10px;
  margin: auto;
}

.header-dropdown {
  margin: 0;
}

/* LANDING PAGE */

#landing-page-carousel {
  height: 600px;
}

.landing-page-new-arrivals {
  border: 5px solid orange;
  width: 90%;
}

.landing-page-info {
  background-color: #FFFFF0;
  padding: 50px 0;
}

.landing-page-info h3 {
  letter-spacing: .5vh;
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 30px 0 30px 0;
}


#new-arrivals {
  letter-spacing: 1vh;
  text-align: center;
  width: 60%;
  margin: auto;
  text-decoration: underline;
  padding: 30px 0 30px 0;
  border: 1px solid black;
}

/* FOOTER */

.footer {
  height: 400px;
  border: 1px solid black;
}

.footer-links {
  padding-top: 20px;
  border: 1px solid red;
}

#scroll-to-top {
  outline: 1px solid green;
  height: 50px;
  width: 110px;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
  position: fixed;
  bottom: 10px;
  right: 30px;
}

/* CONTACT */

.contact-container {
  background-color: #FFFFF0;
}

.contact {
  padding: 100px 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

/* INFO */

.info-container {
  background-color: #FFFFF0;
}

.info {
  padding: 50px 0;
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 18px;
}

.info h1, .info h3 {
  text-decoration: underline;
}
