.footer {
  height: 400px;
  border: 1px solid black;
}

.footer-links {
  padding-top: 20px;
  border: 1px solid red;
}

#scroll-to-top {
  outline: 1px solid green;
  height: 50px;
  width: 110px;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
  position: fixed;
  bottom: 10px;
  right: 30px;
}
