.footer {
  height: 400px;
  text-align: center;
}

.footer-container {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.footer-links {
  padding: 20px 0;
}

.footer a {
  color: black;
}

.footer a:hover {
  cursor: pointer;
}

.footer-bottom {
  width: 50%;
  text-align: center;
  margin: auto;
  position: relative;
  top: 100px;
}

#scroll-to-top {
  display: none;
  background-color: black;
  color: white;
  font-weight: 100;
  height: 50px;
  width: 110px;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
  position: fixed;
  bottom: 10px;
  right: 30px;
}

#scroll-to-top:hover {
  cursor: pointer;
}
