#logo:hover {
  cursor: pointer;
}

.header-top-bar {
  padding-top: 50px;
}

.header-search-bar {
  vertical-align: text-bottom;
  width: 350px;
}

.header-search-bar input {
  border-radius: 0;
  border: none;
}

.header-search-bar input:focus {
  border: 2px solid black;
}

.header-cart {
  color: white;
  background-color: black;
  position: absolute;
  right: 40px;
  /*border: 4px solid black;*/
  height: 40px;
  width: 110px;
  line-height: 40px;
  text-align: center;
}

.header-cart:hover {
  cursor:pointer;
}

.header-title {
  font-weight: 300;
  margin: auto;
  width: 60%;
  letter-spacing: 1vh;
  text-align: center;
}

.header-login {
  padding-top: 30px;
  font-size: 16px;
  letter-spacing: 1px;
}

.header-about:hover {
  cursor: pointer;
}

#header-categories-accordion .panel {
  padding: 10px 0;
  border-right: none;
  border-left: none;
  margin-bottom: 0px;
}

#header-categories-accordion .panel-heading {
  padding: 15px 0;
  font-weight: 100;
  background-color: black;
  color: white;
}

#header-categories-accordion .panel-title {
  text-align: center;
  line-height: 10px;
}

#header-categories-accordion .panel-title:hover {
  cursor: pointer;
}

#header-categories-accordion .category-filter:hover {
  cursor:pointer;
}

.header-dropdown {
  margin: 0;
}
