#landing-page-carousel {
  height: 600px;
}

.landing-page-new-arrivals {
  width: 90%;
}

.landing-page-info {
  border-top: 1px solid #e0e0e0;
  background-color: #FFFFF0;
  padding: 50px 0;
}

.landing-page-info h3 {
  letter-spacing: .5vh;
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 30px 0 30px 0;
}


#new-arrivals {
  border-top: 3px solid #e0e0e0;
  letter-spacing: 1vh;
  text-align: center;
  width: 60%;
  margin: auto;
  text-decoration: underline;
  padding: 30px 0 30px 0;
}
