.admin-categories {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.admin-category:hover {
  cursor: pointer;
  color: #e0e0e0;
}

.admin-underline {
  border-top: 2px solid black;
  height: 30px;
}

.admin-children {
  width: 90%;
  margin: 0 auto;
}
