.admin-auction {
  padding-bottom: 50px;
}

.admin-auction .admin-auction-search {
  padding-top: 30px;
}

.admin-auction .admin-auction-note {
  padding: 10px 0;
}

.admin-auction .admin-auction-search-items {
  padding-top: 20px;
}

.admin-auction h3 {
  width: 90%;
  margin: auto;
  text-align: center;
}

.admin-auction .auction-divider {
  border-top: 1px solid black;
  width: 80%;
  margin: 40px auto;
}
